@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f5f5f9;
  --color-scrollbar: rgb(224, 224, 224);
  --color-scrollbar-hover: #bbb;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--color-background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--color-background);
  border-radius: 10px;
}

body {
  /* background-color: var(--color-background); */
  background-color: '#fff';
}

button.MuiButton-contained {
  background-color: var(--mui-contained-bg, #00adb5);
  color: var(--mui-contained-color, #fbfbfb);
  box-shadow: none;
}

button.MuiButton-contained:hover {
  background-color: var(--mui-contained-hover-bg, #0d6a69);
  box-shadow: none;
}

button.MuiButton-contained:active {
  background-color: var(--mui-contained-active-bg, #0d6a69);
  box-shadow: none;
}

button.MuiButton-containedSecondary {
  --mui-contained-bg: #ffaf35;
  --mui-contained-hover-bg: #d0821c;
  --mui-contained-active-bg: #b96e13;
}

button.MuiButton-contained.Mui-disabled {
  background-color: var(--mui-contained-disabled-bg, #94a3b8);
  color: var(--mui-contained-disabled-color, #f8fafc);
  opacity: 1;
}

@-webkit-keyframes click_animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
  }
  to {
    -webkit-transform: scale(5);
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes click_animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
  }
  to {
    -webkit-transform: scale(5);
    transform: scale(5);
    opacity: 0;
  }
}
